<div class="articles-container">
    <h2>Liste des Articles</h2>
    
    <div class="article-list">
      @for (article of articleService.getArticles()(); track article.id) {
        <div class="article-card">
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <div class="card-actions" style="margin-top: auto;">
            @if (favoritesStore.isFavorite(article.id)()) {
              <button class="btn btn-danger" (click)="removeFromFavorites(article.id)">
                Retirer des favoris
              </button>
            } @else {
              <button class="btn btn-primary" (click)="addToFavorites(article.id)">
                Ajouter aux favoris
              </button>
            }
          </div>
        </div>
      }
    </div>
  </div>